@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lobster', cursive;
  background-color: #f09c67;
}

.landing {
  height: 97vh;
  width: 100%;
  background-color: #f09c67;
}

.content {
  background-color: #f09c67;
}

ul {
  margin-top: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: ;
}

li {
  list-style-type: none;
  width: 30%;
}

li a {
  color: #52de97;
}

a {
  cursor: pointer;
}

.landing h1 {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 700%;
}

h1 {
  text-align: center;
  color: white;
}

.logoImg {
  margin-left: auto;
  margin-right: auto;
  max-width: 22%;
  background-color: #f09c67;
}

.foodpic {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.secondTitle {
  color: #0000;
  font-size: 50px;
  border: 1px solid black;
  background-color: #ff8246;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
  width: 50%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mitr', sans-serif;
  text-align: center;
}

.btn {
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #f9f3f4;
  border: 5px solid #f9f3f4;
  padding: 10px 20px;
  border-radius: 50px;
}

.btn:hover {
  color: #BCBCBC;
  border: 5px solid #BCBCBC;
}

.hours {
  background-color: #0000;
  text-align: center;
}

.menu h1{
  color:black;

}

.directions {
  background-color: #AC9EA2;
  clear: both;
}

p {
  font-family: sans-serif;
  font-size: 120%;
  line-height: 190%;
  text-align: justify;
  margin: 3%;
}

table {
  margin: auto;
}

dt {
  text-align: center;
}

dd {
  text-align: center;
}

.time {
  float: left;
  width: 100%;
  font-size: 200%;
  color: white;
  clear: both;
}

.map {
  text-align: center;
  float: left;
  width: 100%;
}

.disclaimer {
  text-align: center;
  color: black;
  font-size: 80%;
  background-color: white;
}

footer {
  text-align: center;
  clear: both;
  background-color: #AC9EA2;
  height: 3vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  color: #;
  font-size: 15px;
  border: 1px solid black;
  background-color: #ff8246;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 2px 2px 2px black;
  width: 26%;
  margin-top: 70px;
  font-family: 'Mitr', sans-serif;
  float: left;
  cursor: pointer;
}

.menuDetails {
  font-size: 80%;
}

.homeLink {
  float: right;
  color:black;
}

.coupon1 {
  text-align: center;
  border: 2px solid white;
  border-style: dashed;
  background-color: #42b883;
  width: 20%;
  height: 550px;
  margin: 120px 0 0 200px;
  font-size: 50px;
}


.smallTextCoupon {
  margin-top: -100px;
}

.inStoreText {
  font-size: 15px;
  margin-top: -138px;
}

.navTabs {
  background-color:
}

footer {
  background-color: #272121;
  color: #fcf9ea;
}

@media (max-width:760px) {
  .content h1 {
    font-size: 550%;
  }

  .btn {
    font-size: 150% padding: 7px 15px;
  }

  p {
    font-size: 100%;
    line-height: 160%;
  }
}
